body {
  text-align: center;
  background: rgb(184, 218, 255);
  font-size: 30px;
}
h1 {
  text-align: center;
}

h4 {
  text-align: center;
}
input {
  display: block center;
  margin: 0;
}

.weather-app {
  padding: 20px;
  border: 2px solid #27223d;
  border-radius: 10px;
}

.weekDays {
  display: block center;
  font-style: normal;
}
.search-form {
  display: block center;
  margin: 10px;
}
.alert alert-primary {
  font-style: normal;
  font-size: 20px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-style: italic bold;
}
.weather-forecast-temperatures-min {
  opacity: 0, 5;
}
.weather-forecast-temperatures {
  font-size: 20px;
}
